env/
.env
*-env/
*.evv/
*_env/
staticfiles/
static/
db.sqlite3
node_modules/
package-*.json
package.json


*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/migrations/*

*.pem

README.Tutorial.md


